In [2]:
import tensorflow as tf

In [3]:
import pandas as pd

In [11]:
file=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/snakes_count_10000.csv')

In [12]:
file.head()

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16
4            5              24