# This program demonstrates possibility with pandas

#### Last updated by Stephen Chemsak on 6_22_19

In [6]:
import pandas as pd

In [7]:
file=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/snakes_count_10000.csv')

### This link shows a lot of basic Pandas functionality https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html

In [12]:
file.head()

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16
4            5              24

In [8]:
file.tail()

      Game Number   "Game Length"
9995         9996              14
9996         9997              16
9997         9998              29
9998         9999               9
9999        10000              59

In [9]:
file.mean(axis=0)

Game Number       5000.5000
 "Game Length"      36.2544
dtype: float64